%h1
	Hosts
%ul.list
	- @hosts.each do |h|
		%li 
			.item
				= link_to h.name, :action => 'show', :id => h.id
				%span.delete
					= link_to 'delete', host_path(h), :method => 'delete'
			.result
				- ping = h.ping_records.first
				- if ping
					= "last: #{ping.response_ms} ms (##{ping.response_code})"
	%li.action
		= link_to 'add...', :action => 'new'
		%a{:class => 'edit', :href => '#'} edit