= link_to '<< back', :action => 'index'
.title
	= @host.name
%ul.host-detail
	- @host.ping_records.each do |p|
		%li
			%span.ms
				= "#{p.response_ms} ms"
			= "(##{p.response_code})"
			.time
				= "#{p.created_at.strftime "%b %d, %a %H:%M:%S"}"
:javascript
	console.log(#{@pings_json})
	draw(#{@pings_json});
